[package]
name = "zynx-zygisk-compat"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
log = { workspace = true }
nix = { workspace = true }
zynx-bridge-types = { path = "../bridge-types" }
