[package]
name = "zynx-misc"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
log = { workspace = true }
nix = { workspace = true }

[lints]
workspace = true
